/ZZZ Mod Manager X/.vs
/ZZZ Mod Manager X/bin
/ZZZ Mod Manager X/obj
/FlairX-Mod-Manager Launcher/.vscode
/FlairX-Mod-Manager/.vs
/FlairX-Mod-Manager/bin
/FlairX-Mod-Manager/obj
/FlairX-Mod-Manager Launcher/bin
/FlairX-Mod-Manager Launcher/obj
/FlairX-Mod-Manager Launcher/.vs
/FlairX-Mod-Manager/.vscode
/FlairX-Mod-Manager-Launcher/bin
/rawDump
FlairX-Mod-Manager/.kiro/specs/mod-manager-fixes/requirements.md
FlairX-Mod-Manager/CONTEXT_MENU_REFRESH_SUMMARY.md
FlairX-Mod-Manager Launcher/Properties/PublishProfiles/FolderProfile.pubxml.user
/No-Reload-Mod-Manager-main
/kenney_input-prompts_1.4.1
/.kiro
